<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Skuuper Game</title>

    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/animate-animo.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/hover.css">
    <link rel="stylesheet" type="text/css" href="static/css/game.css">

    <script src="static/js/lib/jquery.min.js"></script>
    <script src="static/js/lib/sortable.min.js"></script>
    <script src="static/js/lib/animo.min.js"></script>
    <script src="static/js/lib/spin.min.js"></script>
    <script src="static/js/lib/routie.min.js"></script>



    <script src="static/js/build/react.min.js"></script>
    <script src="static/js/build/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/react/react-bootstrap.min.js"></script>

    <script type="text/babel" src="static/js/react/react-sortable-mixin.js"></script>
    <script type="text/babel" src="static/js/game/CONFIG.js"></script>

    <script type="text/babel" src="static/bundle.js"></script>

<body>
    <div id="content"></div>
</body>
</html>
